<main class="bg-gradient-to-b from-slate-500 to-slate-100 relative flex flex-col h-[calc(100vh-64px)]">

  <!-- If !isSuccessful -->
  <div class="p-4 my-8 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
    <span class="font-medium">Danger alert!</span> this.msg
  </div>

  <!-- If isSuccessful -->
  <div class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400" role="alert">
    <span class="font-medium">Success alert!</span> this.msg
  </div>

</main>
