#conResults {
  background: linear-gradient(135deg, #7f1d1d 15%, #b91c1c 15.1%, #ef4444 17.5%, #f1f5f9 17.6%, #cbd5e1 30%, #cbd5e1 70%, #f1f5f9 82.4%, #ef4444 82.5%, #b91c1c 84.9%, #7f1d1d 85%);
}

#vert {
  border-left:6px solid #64748b;
  height: 100%
}
