<section class="body h-dvh flex flex-col justify-center items-center">
  <form
    class="border-double border-4 border-black m-4 bg-gradient-to-b from-slate-500 to-slate-100 w-1/2"
  >
    <!-- pull in bg color from profile img into bg -->
    <div>
      <img
        src="{{ this.user.profilePicture }}"
        alt="profilePicture"
        class="rounded-full w-24 p-2"
        onclick=""
      />
    </div>
    <div class="flex flex-col items-center w-3/4 pl-2 font-semibold">
      <div>{{ user.firstName }}</div>
      <div>{{ user.middleInitial }}</div>
      <div>{{ user.lastName }}</div>
      <div>{{ user.email }}</div>
      <div>{{ user.phoneNumber }}</div>
    </div>
    <!-- add click function for img edit -->
    <div class="pl-2 m-2 font-semibold">{{ user.role }}</div>
  </form>

  <form
    class="border-double border-4 border-black m-4 bg-gradient-to-b from-slate-500 to-slate-100 w-1/2 font-semibold p-4"
  >
    <!-- delete/add/ button on each tag with icon -->
    <div
      *ngFor="let tag of user.tags"
      class="flex justify-between items-center"
    >
      <p>{{ tag.name }}</p>
      <button
        (click)="this.deleteTagFromUser(tag.id)"
        class="bg-slate-100 hover:bg-slate-200 text-red-700 font-semibold border-2 px-2 border-red-600 rounded"
      >
        Delete
      </button>
    </div>

    <div>
      <button
        class="bg-slate-100 hover:bg-slate-200 text-red-700 font-semibold border-2 px-2 border-red-600 rounded"
      >
        Add Tag
      </button>
      <button
        class="bg-slate-100 hover:bg-slate-200 text-red-700 font-semibold border-2 px-2 border-red-600 rounded"
      >
        Change Password
      </button>
    </div>
  </form>
</section>
