.body {
  background: linear-gradient(15deg, #ef4444 50%, #b91c1c 50.1%);
}

.block {
  position: relative;
}
.block:hover .img {
  color: #001f3f;
  background-color: #944646;
  border: 2px;
  transition: all 0.5s ease;
}

.input {
  opacity: 0;
  position: absolute;
  width: 96px;
  height: 61px;
}

.img {
  position: absolute;
}
