.body {
  background: linear-gradient(15deg, #ef4444 50%, #b91c1c 50.1%);
}

.block {
  position: relative;
}

.input {
  opacity: 0;
  position: absolute;
  top: 20px;
  left: 5px;
}

.img {
  position: absolute;
}

.img:hover {
  color: #001f3f;
  background-color: #944646;
  border: 2px;
  transition: all 0.5s ease;
}

.input:hover {
  color: #001f3f;
  background-color: #944646;
  border: 2px;
  transition: all 0.5s ease;
}
