<section class="h-dvh w-dvh flex flex-col justify-center items-center py-10">
  <!-- Background Gradient -->
  <div
    class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
    aria-hidden="true"
  >
    <div
      class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff8080] to-[#7cf6ff] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
      style="
        clip-path: polygon(
          74.1% 44.1%,
          100% 61.6%,
          97.5% 26.9%,
          85.5% 0.1%,
          80.7% 2%,
          72.5% 32.5%,
          60.2% 62.4%,
          52.4% 68.1%,
          47.5% 58.3%,
          45.2% 34.5%,
          27.5% 76.7%,
          0.1% 64.9%,
          17.9% 100%,
          27.6% 76.8%,
          76.1% 97.7%,
          74.1% 44.1%
        );
      "
    ></div>
  </div>
  <!-- user profile card -->
  <form
    class="border-double border-4 border-black bg-gradient-to-b from-slate-300 to-slate-100 w-1/2 m-4 px-8"
  >
    <div class="profile-img-card">
      <img
        src="{{ this.user.profilePicture }}"
        alt="profilePicture"
        class="img flex rounded-full w-24 h-24 p-2 m-2"
      />
      <!-- img chang input -->
      <input
        class="input"
        type="file"
        (change)="imgChange($event)"
        #fileInput
      />
    </div>
    <div
      class="flex flex-col items-center w-3/4 m-4 pl-2 font-semibold text-slate-900"
    >
      <div>{{ user.firstName }}</div>
      <div>{{ user.lastName }}</div>
      <div>{{ user.email }}</div>
      <div>{{ user.phoneNumber }}</div>
    </div>

    <div class="pl-2 m-2 font-semibold text-slate-900">{{ user.role }}</div>
    <!-- change password button -->
    <button
      (click)="changePassword(); $event.preventDefault()"
      class="bg-slate-100 hover:bg-slate-200 text-red-700 font-semibold border-2 px-2 m-4 border-red-600 rounded"
    >
      Change Password
    </button>
  </form>
  <!-- tags form -->
  <form
    class="border-double border-4 border-black m-4 bg-gradient-to-b from-slate-300 to-slate-100 w-1/2 font-semibold p-4"
  >
    <p class="text-red-600">TAGS:</p>
    <div
      *ngFor="let tag of user.tags"
      class="flex justify-between items-center text-slate-900"
    >
      <p></p>
      <p>{{ tag.name }}</p>
      <!-- delete button -->
      <button
        (click)="this.deleteTagFromUser(tag.id)"
        class="bg-slate-100 hover:bg-slate-200 text-red-700 font-semibold border-2 px-2 border-red-600 rounded"
      >
        <!-- delete icon -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="w-5 h-5"
        >
          <path
            fill-rule="evenodd"
            d="M8.75 1A2.75 2.75 0 0 0 6 3.75v.443c-.795.077-1.584.176-2.365.298a.75.75 0 1 0 .23 1.482l.149-.022.841 10.518A2.75 2.75 0 0 0 7.596 19h4.807a2.75 2.75 0 0 0 2.742-2.53l.841-10.52.149.023a.75.75 0 0 0 .23-1.482A41.03 41.03 0 0 0 14 4.193V3.75A2.75 2.75 0 0 0 11.25 1h-2.5ZM10 4c.84 0 1.673.025 2.5.075V3.75c0-.69-.56-1.25-1.25-1.25h-2.5c-.69 0-1.25.56-1.25 1.25v.325C8.327 4.025 9.16 4 10 4ZM8.58 7.72a.75.75 0 0 0-1.5.06l.3 7.5a.75.75 0 1 0 1.5-.06l-.3-7.5Zm4.34.06a.75.75 0 1 0-1.5-.06l-.3 7.5a.75.75 0 1 0 1.5.06l.3-7.5Z"
            clip-rule="evenodd"
          />
        </svg>
      </button>
    </div>

    <div>
      <!-- add tag button -->
      <button
        class="bg-slate-100 hover:bg-slate-200 text-red-700 font-semibold border-2 px-2 border-red-600 rounded"
        (click)="showMe(); $event.preventDefault()"
      >
        <!-- add tag icon -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="w-5 h-5"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16Zm.75-11.25a.75.75 0 0 0-1.5 0v2.5h-2.5a.75.75 0 0 0 0 1.5h2.5v2.5a.75.75 0 0 0 1.5 0v-2.5h2.5a.75.75 0 0 0 0-1.5h-2.5v-2.5Z"
            clip-rule="evenodd"
          />
        </svg>
      </button>
    </div>
  </form>
  <!-- new tag form -->
  <form
    (input)="autoSearch()"
    [hidden]="isDisplayed"
    [formGroup]="addTagForm"
    class="border-double border-4 border-black m-4 bg-gradient-to-b from-slate-300 to-slate-100 w-auto h-auto"
  >
    <p class="pl-2 m-2 font-semibold">Add a new tag here</p>
    <input type="text" formControlName="name" tabindex="0" />
    <button
      *ngFor="let tag of tags; let i = selectedIndex"
      [tabIndex]="selectedIndex"
      value="{{ this.tag._id }}"
      class="bg-white border border-2 border-t-0 border-inherit rounded mx-auto h-6 focus:bg-slate-50 flex"
      (click)="
        tagInput.value = this.tag.name; setValue(this.tag._id); onSubmit()
      "
    >
      <span>{{ this.tag.name }}</span>
    </button>
    <button
      class="bg-slate-100 hover:bg-slate-200 text-red-700 font-semibold border-2 px-2 border-red-600 rounded"
      (click)="this.createTagFromUser(); showMe(); $event.preventDefault()"
    >
      Submit
    </button>
  </form>
  <!-- Background Gradient -->
  <div
    class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
    aria-hidden="true"
  >
    <div
      class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff8080] to-[#7cf6ff] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
      style="
        clip-path: polygon(
          74.1% 44.1%,
          100% 61.6%,
          97.5% 26.9%,
          85.5% 0.1%,
          80.7% 2%,
          72.5% 32.5%,
          60.2% 62.4%,
          52.4% 68.1%,
          47.5% 58.3%,
          45.2% 34.5%,
          27.5% 76.7%,
          0.1% 64.9%,
          17.9% 100%,
          27.6% 76.8%,
          76.1% 97.7%,
          74.1% 44.1%
        );
      "
    ></div>
  </div>
</section>
