<main
  class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8 h-[calc(100vh-98px)]"
>
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <img
      class="mx-auto h-20 w-20 hover:animate-spin"
      src="../../../../assets/images/local_lancer_logo.png"
      alt="Local Lancer"
    />
    <h2
      class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-slate-900"
    >
      Register your account
    </h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form class="space-y-6" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <!-- First Name -->
      <div>
        <label
          for="firstName"
          class="block text-sm font-medium leading-6 text-slate-900"
          >First Name</label
        >
        <div class="mt-2">
          <input
            id="firstName"
            name="firstName"
            type="text"
            autocomplete="given-name"
            required
            formControlName="firstName"
            class="block px-2 w-full rounded-md border-0 bg-slate-900/5 py-1.5 text-slate-900 shadow-sm ring-1 ring-inset ring-slate-900/10 focus:ring-2 focus:ring-inset focus:ring-blue-500 sm:text-sm sm:leading-6"
          />
        </div>
      </div>

      <!-- Last Name -->
      <div>
        <label
          for="lastName"
          class="block text-sm font-medium leading-6 text-slate-900"
          >Last Name</label
        >
        <div class="mt-2">
          <input
            id="lastName"
            name="lastName"
            type="text"
            autocomplete="family-name"
            required
            formControlName="lastName"
            class="block px-2 w-full rounded-md border-0 bg-slate-900/5 py-1.5 text-slate-900 shadow-sm ring-1 ring-inset ring-slate-900/10 focus:ring-2 focus:ring-inset focus:ring-blue-500 sm:text-sm sm:leading-6"
          />
        </div>
      </div>

      <!-- Phone -->
      <div>
        <label
          for="phoneNumber"
          class="block text-sm font-medium leading-6 text-slate-900"
          >Phone Number</label
        >
        <div class="mt-2">
          <input
            id="phoneNumber"
            name="phoneNumber"
            type="tel"
            pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
            autocomplete="tel"
            required
            formControlName="phoneNumber"
            class="block px-2 w-full rounded-md border-0 bg-slate-900/5 py-1.5 text-slate-900 shadow-sm ring-1 ring-inset ring-slate-900/10 focus:ring-2 focus:ring-inset focus:ring-blue-500 sm:text-sm sm:leading-6"
          />
        </div>
      </div>

      <!-- Role -->
      <div>
        <label
          for="role"
          class="block text-sm font-medium leading-6 text-slate-900"
          >I am a:</label
        >
        <div class="mt-2">
          <select
            id="role"
            name="role"
            required
            formControlName="role"
            class="block px-2 w-full rounded-md border-0 bg-slate-900/5 py-1.5 text-slate-900 shadow-sm ring-1 ring-inset ring-slate-900/10 focus:ring-2 focus:ring-inset focus:ring-blue-500 sm:text-sm sm:leading-6"
          >
            <option value="FREELANCER">Freelancer Looking for Work</option>
            <option value="CONTRACTOR">
              Project Owner Looking for Freelancers
            </option>
          </select>
        </div>
      </div>

      <!-- Email -->
      <div>
        <label
          for="email"
          class="block text-sm font-medium leading-6 text-slate-900"
          >Email address</label
        >
        <div class="mt-2">
          <input
            id="email"
            name="email"
            type="email"
            autocomplete="email"
            required
            formControlName="email"
            class="block px-2 w-full rounded-md border-0 bg-slate-900/5 py-1.5 text-slate-900 shadow-sm ring-1 ring-inset ring-slate-900/10 focus:ring-2 focus:ring-inset focus:ring-blue-500 sm:text-sm sm:leading-6"
          />
        </div>
      </div>

      <!-- Password -->
      <div>
        <div class="flex items-center justify-between">
          <label
            for="password"
            class="block text-sm font-medium leading-6 text-slate-900"
            >Password</label
          >
        </div>

        <div class="mt-2">
          <input
            id="password"
            name="password"
            type="password"
            autocomplete="current-password"
            formControlName="password"
            required
            class="block px-2 w-full rounded-md border-0 bg-slate-900/5 py-1.5 text-slate-900 shadow-sm ring-1 ring-inset ring-slate-900/10 focus:ring-2 focus:ring-inset focus:ring-blue-500 sm:text-sm sm:leading-6"
          />
        </div>
      </div>

      <!-- Submit -->
      <div>
        <button
          [disabled]="!registerForm.valid"
          type="submit"
          class="flex w-full justify-center rounded-md bg-red-500 px-3 py-1.5 text-sm font-semibold leading-6 text-slate-100 shadow-sm hover:bg-red-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-500"
        >
          Register
        </button>
      </div>
    </form>

    <p class="mt-10 text-center text-sm text-gray-400">
      Already registered?
      <a
        routerLink="/login"
        class="font-semibold leading-6 text-red-400 hover:text-red-300"
        >Log into your account!</a
      >
    </p>
  </div>
</main>
