<div class="bg-zinc-700 h-16 flex justify-end items-center p-2">
  <!-- These two are for ease of access. To Be Deleted -->
  <div>
    <button
      class="bg-slate-100 hover:bg-slate-200 text-red-700 font-semibold border-2 px-2 border-red-600 rounded"
      routerLink="/"
      routerLinkActive="active"
    >
      Home
    </button>

    <button
      class="bg-slate-100 hover:bg-slate-200 text-red-700 font-semibold border-2 px-2 border-red-600 rounded"
      routerLink="/results"
      routerLinkActive="active"
    >
      Results
    </button>
  </div>

  <button
    class="border border-slate-200 rounded m-1 h-7.5"
    *ngIf="!isAuthenticated"
    routerLink="/register"
    routerLinkActive="active"
  >
    <div
      class="bg-slate-100 hover:bg-slate-200 text-red-700 font-semibold border-2 px-2 border-red-600 rounded"
    >
      Register
    </div>
  </button>
  <button
    class="border border-slate-200 rounded m-1 h-7.5"
    *ngIf="!isAuthenticated"
    routerLink="/login"
    routerLinkActive="active"
  >
    <div
      class="bg-slate-100 hover:bg-slate-200 text-red-700 font-semibold border-2 px-2 border-red-600 rounded"
    >
      Login
    </div>
  </button>
  <button
    class="border border-slate-200 rounded m-1 h-7.5"
    *ngIf="isAuthenticated"
    routerLink="/login"
    routerLinkActive="active"
    (click)="logout()"
  >
    <div
      class="bg-slate-100 hover:bg-slate-200 text-red-700 font-semibold border-2 px-2 border-red-600 rounded"
    >
      Logout
    </div>
  </button>
</div>
