<div class="bg-zinc-700 h-16 flex justify-end items-center p-2">
	<button
		class="bg-slate-100 hover:bg-slate-200 text-blue-700 font-semibold py-1 px-2 mx-1 h-8 border border-blue-500 rounded"
		routerLink="/register"
		routerLinkActive="active"
	>
		Register
	</button>
	<button
		class="bg-slate-100 hover:bg-slate-200 text-blue-700 font-semibold py-1 px-2 mx-1 h-8 border border-blue-500 rounded"
		routerLink="/login"
		routerLinkActive="active"
	>
		Login
	</button>
	<button
		class="bg-slate-100 hover:bg-slate-200 text-blue-700 font-semibold py-1 px-2 mx-1 h-8 border border-blue-500 rounded"
		routerLink="/login"
		routerLinkActive="active"
	>
		Logout
	</button>

</div>
