#freResults {
  background: linear-gradient(135deg, #f1f5f9, #64748b 15%, #cbd5e1 15.1%, #f1f5f9 17.5%, #7f1d1d 17.6%, #7f1d1d 82.4%, #f1f5f9 82.5%, #cbd5e1 84.9%, #64748b 85%, #f1f5f9 100%);
}

#vert {
  border-left:6px solid #64748b;
  height: 100%
}
