<div class="w-full mx-auto p-10 md:py-8 bg-zinc-800 text-slate-50 z-50 relative">
  <div class="sm:flex sm:items-center sm:justify-between">
    <a
      href="#"
      class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse"
    >
      <img
        src="../../../assets/images/local_lancer_logo.png"
        class="h-24"
        alt="Local Lancer Logo"
      />
      <span
        class="self-center text-2xl font-semibold whitespace-nowrap hover:text-red-500"
        >Local Lancer</span
      >
    </a>
    <ul
      class="flex flex-wrap items-center mb-6 text-sm font-medium sm:mb-0 pt-1"
    >
      <li>
        <a href="/" class="me-4 md:me-6 hover:text-red-500">Home</a>
      </li>
      <li>
        <a routerLink="contact-us" class="hover:text-red-500" routerLink="/"
          >Profile Page</a
        >
      </li>
      <li>
        <a
          href="#"
          routerLink="/login"
          class="hover:text-red-500 me-4 md:me-6 pl-5"
          >Login</a
        >
      </li>
    </ul>
  </div>
  <hr class="my-6 border-red-500 sm:mx-auto lg:my-8" />
  <span class="block text-sm sm:text-center">
    © 2024 <a href="#" class="hover:text-red-500">Local Lancer</a>. All rights
    reserved.
  </span>
</div>
